body{
    background: linear-gradient(rgba(0,0,0,0.12), rgba(0,0,0,0.33)),
    url('images/bg.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1{
    font-size: 1.7rem;
}
.container{
    text-align: center;
    margin-top:23px;
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 3px solid #244624;
    background-color: #c9a77b;
    font-size:34px;
    height: 63px;
    width: 337px;
    text-align: end;
}

button{
    border-radius: 18%;
    border: 2px solid #000;
    font-size: 38px;
    background: #ffffff;
    width: 74px;
    height: 63px;
    margin: 6px;
}

button:hover{
    background-color: #fbd447;
    font-size: 2.5rem;
}

#eqlbtn{
    background-color: red;
}

.calculator{ 
    box-shadow: 3px 3px 5px black;
    background-color: grey;
    padding: 23px;
    border-radius: 26px;
    display: inline-block;
    
}


